.body-container{
	width : 100%;
}

.tree-container {
	position : relative;
	height : 100%;
	width : 15%;
	float : left;
}

.searchbar-container{
	position:relative;
	top : 15px;
	height : 10%;
}
.view-container{
	position:relative;
	height: 100%;
	width : 85%;
	float : left;
}

#tbSearch{
	width : 99%;
	height : 34px;
}

.search-icon{
	background-color: #4d90fe;
	height: 40px;
	width : 50px;
	display:inline-block;
	float:right;
	top : -57%;
  	position: relative;
}
.graph-container{
	position:relative;
	height : 93%;
}
.svg-container{
	position:relative;
	height : 95%;
	width : 100%;
	background-color: rgba(52, 52, 62, 1);

}

.s-cat, .cat-filter, .view-opt {
	cursor: pointer
}

.col-rect, .row-rect{
	stroke-width : 1px; 
	stroke : grey; 
	fill:rgba(52, 52, 62, 1);
	cursor : pointer;
}

.col-text, .row-text{
	color:grey;
	cursor:pointer;
	font-size:11px;
	fill:grey;
}

.col-select, .row-select{
	fill:#4d90fe;
}

.col-text-select, .row-text-select{
	fill : white;
	color:grey;
	cursor:pointer;
	font-size:11px;
}




