.body-container{
	width : 100%;
}

.tree-container {
	position : relative;
	height : 100%;
	width : 15%;
	float : left;
}

.searchbar-container{
	position:relative;
	top : 15px;
	height : 10%;
}
.view-container{
	position:relative;
	height: 100%;
	width : 85%;
	float : left;
}

#tbSearch{
	width : 99%;
	height : 34px;
}

.search-icon{
	background-color: #4d90fe;
	height: 40px;
	width : 50px;
	display:inline-block;
	float:right;
	top : -57%;
  	position: relative;
}
.graph-container{
	position:relative;
	height : 93%;
}
.svg-container{
	position:relative;
	height : 95%;
	width : 100%;
	background-color: rgba(52, 52, 62, 1);

}

.s-cat, .cat-filter, .view-opt {
	cursor: pointer
}

.col-rect, .row-rect, .cell-rect{
	stroke-width : 1px; 
	stroke : grey; 
	fill:rgba(52, 52, 62, 1);
	cursor : pointer;
}

.col-text, .row-text, .cell-text{
	color:grey;
	cursor:pointer;
	font-size:11px;
	fill:grey;
}

.col-select, .row-select{
	fill:#4d90fe;
}

.col-text-select, .row-text-select{
	fill : white;
	color:grey;
	cursor:pointer;
	font-size:11px;
}

.chart-axis{
	stroke-width : 1px; 
	stroke : grey;
}


















.cell-rect-1{
	stroke-width : 1px; 
	stroke : grey; 
	cursor : pointer;
	fill : #fc6c85;
}
.cell-rect-2{
	stroke-width : 1px; 
	stroke : grey; 
	cursor : pointer;
	fill : #ffccb8;
}
.cell-rect-3{
	stroke-width : 1px; 
	stroke : grey; 
	cursor : pointer;
	fill : #e8440c;
}
.cell-rect-4{
	stroke-width : 1px; 
	stroke : grey; 
	cursor : pointer;
	fill : #e8840c;
}
.cell-rect-5{
	stroke-width : 1px; 
	stroke : grey; 
	cursor : pointer;
	fill : #a1c1cb;
}
.cell-rect-6{
	stroke-width : 1px; 
	stroke : grey; 
	cursor : pointer;
	fill : #a1accb;
}
.cell-rect-7{
	stroke-width : 1px; 
	stroke : grey; 
	cursor : pointer;
	fill : #37c3e0;
}
.cell-rect-8{
	stroke-width : 1px; 
	stroke : grey; 
	cursor : pointer;
	fill : #147084;
}
.cell-rect-9{
	stroke-width : 1px; 
	stroke : grey; 
	cursor : pointer;
	fill : #c5718b;
}
.cell-rect-10{
	stroke-width : 1px; 
	stroke : grey; 
	cursor : pointer;
	fill : #653040;
}
.cell-rect-11{
	stroke-width : 1px; 
	stroke : grey; 
	cursor : pointer;
	fill : #97e41b;
}
.cell-rect-12{
	stroke-width : 1px; 
	stroke : grey; 
	cursor : pointer;
	fill : #5cbe7f;
}
.cell-rect-13{
	stroke-width : 1px; 
	stroke : grey; 
	cursor : pointer;
	fill : #06b2a5;
}
.cell-rect-14{
	stroke-width : 1px; 
	stroke : grey; 
	cursor : pointer;
	fill : #67204a;
}
.cell-rect-15{
	stroke-width : 1px; 
	stroke : grey; 
	cursor : pointer;
	fill : #faebd7;
}
.cell-rect-16{
	stroke-width : 1px; 
	stroke : grey; 
	cursor : pointer;
	fill : #f6546a;
}
.cell-rect-17{
	stroke-width : 1px; 
	stroke : grey; 
	cursor : pointer;
	fill : #008000;
}
.cell-rect-18{
	stroke-width : 1px; 
	stroke : grey; 
	cursor : pointer;
	fill : #8a2be2;
}
.cell-rect-19{
	stroke-width : 1px; 
	stroke : grey; 
	cursor : pointer;
	fill : #c39797;
}
.cell-rect-20{
	stroke-width : 1px; 
	stroke : grey; 
	cursor : pointer;
	fill : #794044;
}
